/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Poppins&display=swap");

/* paleta de colores https://www.canva.com/colors/color-palettes/icy-gradient/ */

* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  
}

body {
  font-size: 1.2rem;
  min-height: 100%;
  background-image: url(../img/Sin-título-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}
h2 {
  /* text-decoration: underline; */
  font-size: 3rem;
  font-weight: bold;
  padding: 20px 0;
}

h3 {
  padding: 20px 0;
}

/* NAVBAR */

#navBar{
  background-color: rgba(13, 152, 186, 0.7);
  border: solid 1px black;
}
#navBar a{
  color: #843cae;
  text-decoration: none;
  text-shadow: black 0.1em 0.1em 0.2em;
  list-style: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
#navBar a:hover {
  cursor: pointer;
  background-color: blue;
}
/* BANNER */

#banner{
  display: flex;
  flex-direction: column;
  height: 30rem;
  background-image: url(../img/header.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
}
.titulo_cabecera {
  font-family: "Bevan";
  font-style: normal;
  font-weight: 200;
  font-size: 3rem;
  color: antiquewhite;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.desde {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  letter-spacing: 3px;
}

/* PRESENTACION */

#presentacion {
  padding: 15px;
  border: solid 1px;
  background-color: rgba(218, 112, 214, 0.7);
}
#presentacion h2 {
  text-align: center;
}
#presentacion p {
  text-align: justify;
}

/* lO MAS VENDIDO */

#loMasVendido {
  background-color: rgba(200, 162, 200, 0.7);
}

/* FOOTER */

#pie .redes a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

#pie .redes a:hover{
  color: aqua;
}

#pie #copy{
background-color: #0a1a2a;
}