/* PRESENTACION */

#presentacion {
  padding: 15px;
  border: solid 1px;
  background-color: rgba(218, 112, 214, 0.7);

  h2 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
}
/* lO MAS VENDIDO */

#loMasVendido {
  background-color: rgba(200, 162, 200, 0.7);
}
