@import "_commons.scss";
@import "_fonts.scss";
@import "_banner.scss";
@import "_nav.scss";
@import "_index.scss";
@import "_footer.scss";

body {
  font-size: $textSm;
  min-height: $w-100;
  background-image: url(../img/Sin-título-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

h2 {
    font-size: $textLg;
    font-weight: bold;
    padding: 20px 0;
  }
  
  h3 {
    padding: 20px 0;
  }